@model IEnumerable<D2Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*Want to authenticate whether user is an admin to access create post feature*@
@if(User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New", "Create")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mediaURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.published)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.Raw(item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mediaURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.published)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { Slug = item.Slug })
                @if((User.Identity.IsAuthenticated) && (User.IsInRole("Admin") || (User.IsInRole("Moderator"))))
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.id })

                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                }
            </td>
        </tr>
    }

</table>
